.caixa{
    text-align: center;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;

}

.titulo{
    font-size: 15px;
    color: black;
    text-align: left;
    padding: 10px;

}

.imagem{
    width: 250px;
    height: 250px;
    border-radius: 10px;

}


.preco{
    font-size: 15px;
    color: black;
    text-align: left;
    padding: 10px;
 
}




    